# POSTGRESQL
POSTGRES_DB_URL=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# REDIS
REDIS_HOST=
REDIS_PORT=

# ADMIN ACCESS
ADMIN_EMAIL=admin@ecommerce.com
ADMIN_PASSWORD=$2a$10$xK9Lm...  ← hash BCrypt gerado localmente